body
{
    background-color: burlywood;
}
.list
{
    position: relative;
    width: 360px;
    height: 400px;
    background-color:white;
    float: left;
}

.addform
{
    position: absolute;
}

#priceSum
{
    width: 361px;
    height: 20px;
    position: absolute;
    left: 469px;
    top: 456px;
    text-align: center;

}

.button
{
    position: relative;
    top: 50px;
    left: 80px;
}

#basketList
{
    left: 100px;
}

.row
{
    cursor: pointer;
}

.title
{
    width: 360px;
    text-align: center;
}
.Sum
{
    margin-top: 50px;
    width: 220px;
    text-align: center;
    height: 17px;
}
.SelectDisabled {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;           
  }